---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
const tags = {
    javascript: 'bg-yellow-400/50 dark:text-yellow-100 text-yellow-900',
    game: 'bg-green-400/50 dark:text-green-100 text-green-900',
    algorithms: 'bg-red-400/50 dark:text-red-100 text-red-900',
    engineering: 'bg-blue-400/50 dark:text-blue-100 text-blue-900',
    haskell: 'bg-purple-400/50 dark:text-purple-100 text-purple-900',
} as const

// Prerender this page at build time
export const prerender = true
---

<Layout title='Dawichi - Blog' description='My Blog! Notes about personal experiences and learning pills'>
    <header class='pt-20'>
        <h1 class='text-center text-6xl font-bold tracking-tighter'>Software Development</h1>
        <h2 class='pt-4 text-center'>Notes about personal experiences and learning pills</h2>
    </header>

    <ul class='relative mx-auto grid max-w-5xl pb-36 pt-12 lg:grid-cols-2 lg:gap-8'>
        {
            posts.reverse().map(post => (
                <a
                    href={`/${post.slug}/`}
                    class='border border-white/0 p-8 hover:border-teal-400/50 hover:bg-teal-300/5 hover:shadow-lg hover:shadow-teal-400/40'
                >
                    {post.data.tags.sort().map(tag => (
                        <span class={`inline-block ${tags[tag]} mr-2 rounded-full px-3 py-1 text-xs font-bold`}>{tag}</span>
                    ))}
                    <h3 class='text-xl font-bold'>{post.data.title}</h3>
                    <p class='py-2 opacity-80'>{post.data.description}</p>
                    <FormattedDate date={post.data.pubDate} />
                </a>
            ))
        }
    </ul>
</Layout>
